@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --Pale-Blue: hsl(243, 100%, 93%);
    --Grayish-Blue: hsl(229, 7%, 55%);
    --dark-blue: hsl(228, 56%, 26%);
    --Very-Dark-Blue: hsl(229, 57%, 11%);
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background: url(images/bg-mobile.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 auto;
    font-family: 'Raleway', sans-serif;
    padding: 20px;

}

.container {
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    align-content: center;
    align-items: flex-end;  
    margin: 0 auto;
}

.top {
    width: 100%;
    background: var(--dark-blue);
    padding: 30px;
    display: grid;
    
    border-radius: 10px  100px 10px 10px;
    margin-bottom: 15px;
    
}

.top .logo{

    margin: 15px 0 35px ;
}

.icons {
    margin-bottom: 10px;
}
.icons div {
    width: 60px;
    background: var(--Very-Dark-Blue);
    height: 60px;
    display: inline-flex;
    border-radius: 10px;
    line-height: 0;
    padding: 15px;
    justify-content: center;
    margin-right: 15px;
}



.botton {
    width: 100%;
    background: var(--dark-blue);
   
    border-radius: 10px;
    position: relative;
    padding: 30px;
    
}

.botton > p {
    color: var(--Pale-Blue);
    text-align: center;
    margin-bottom: 20px;
  
}

.botton span {
    font-weight: bold;
}

.progress {
    height: 20px;
    border-radius: 100px;
    margin: 10px 0;
    box-shadow:  inset 0px 0px 7px 2px var(--Very-Dark-Blue); 
    position: relative; 
}

.progress::before {
    content: '';
    width: 80%;
    border-radius: 100px;
    height: 15px;
    background: linear-gradient( to right,hsl(6, 100%, 80%), hsl(335, 100%, 65%));
    position: absolute; 
    top: 2px;
    left: 3px;   
}

.progress::after {
    content: '';
    width: 11px;
    height: 11px;
    border-radius: 100px;
    top: 4.3px;
    right: 20%;
    background: #fff;
    position: absolute;    
}

.gb {
    display: flex;
    justify-content: space-between;
    color: var(--Pale-Blue);
    padding-bottom:  25px;   
}

.float {
    display: flex;
    background: #fff;
    font-size: 20px;
    padding: 0.5em 1em;
    border-radius: 10px;
    position: absolute;
    bottom: -30px;
    left: 25%;
    right: 25%;
    align-items: center;
    justify-content: center;
}

.float span {
    font-size: 40px;
    margin-right: 8px;
    color: var(--Very-Dark-Blue);
}

.float p {
    font-size: 13px;
    font-weight: 700;
    color: var(--Grayish-Blue);
    text-transform: uppercase;
}

@media (min-width:900px) {
    body {
        justify-content: center;
        align-items: center;
        background: var(--Very-Dark-Blue) url(images/bg-desktop.png);
        background-position:  bottom -50px  right ;
       
        background-repeat: no-repeat;
        
    }

    .container {
        width: 100%;
       flex-direction: row;
       justify-content: center;
    }
    .icons {
        display: flex;
    }

    .top {
        max-width: 400px;
        margin-bottom: 0;
        margin-right: 20px;
    }

    .botton {
         max-width: 650px;
    }
    .botton p {
        text-align: start;
    }

    .float {
       position: absolute;
       top: -60px;
       bottom: 90%;
       right: 5%;
       left: 60%; 
       border-radius: 10px 10px 0 10px; 
    }

    .float::before {
        content: '';
        background: chartreuse;
        height: 40px;
        width: 30px;
        position: absolute;
        bottom: -40px;
        right: 0;
        transform: skewX()(0deg, 0deg, 60deg);
    }
    
}
