@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

:root {
    --Pale-Violet: hsl(276, 100%, 81%);
    --Moderate-Violet: hsl(276, 55%, 52%);
    --Desaturated-Dark-Violet: hsl(271, 15%, 43%);
    --Grayish-Blue: hsl(206, 6%, 79%);
    --Very-Dark-Desaturated-Violet: hsl(271, 36%, 24%);
    --Dark-Grayish-Violet: hsl(270, 7%, 64%);

    /*===== Gradients =====*/
    --Light-Magenta: hsl(293, 100%, 63%);
    --Light-Violet: hsl(264, 100%, 61%);

    /*====== Secondary ======*/
    --Light-Grayish-Violet: hsl(270, 20%, 96%);
    --Very-Dark-Desaturated-Violet: hsl(271, 36%, 24%);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Rubik', sans-serif;
    
}

body::after {
    content: '';
    position: absolute;
    z-index: -2;
    top: 0;
    left: -250px;
    width: 500px;
    height: 80%;
    border-radius: 0 0 300px 300px;
    background: var(--Light-Violet);
}

.container {
    margin: 0 20px;
}

/*===== Phone =====*/
.phone {
    background-color: #fff;
    max-width: 375px;
    min-width: 375px;
    margin: 0 auto;
    margin-top: 50px;
    padding: 13px;
    border-radius: 35px;
    box-shadow: 3px 3px 20px 6px rgba(0, 0, 0, 0.2);
}

.phone img {
    width: 40px;
    height: 40px;
    border-radius: 100px;
}

.phone-container {
    background: var(--Light-Grayish-Violet);
    border-radius: 35px;
    padding-bottom: 15px;
}

/*===== User =====*/
.user {
    display: flex;
    background: linear-gradient(to right, var(--Light-Violet), var( --Light-Magenta));
    border-radius: 30px 30px 7px 7px;
    height:100px;
    align-items: flex-end;
   
    color: #fff;
    justify-content: space-between; 
    padding: 0 20px 10px; 
    position: relative;   
}

.user::before {
    content: '';
    position: absolute;
    top: -13px;
    right: 25%;
    left: 25%;
   
    height: 35px;
    border-radius: 100px;
    color: #fff;
    background: #fff;
}

.user  .fa-ellipsis-v {
    position: absolute;
    right: 20px;
}

.user img {
    margin: 0 10px;
}

.user h2 {
    font-size: 18px;
    color: var(--Light-Grayish-Violet);
}

.user span {
    font-size: 13px;
    color: var(--Grayish-Blue);
}

.divide {
   padding-bottom: 5px; 
}

/*===== message =====*/
.message {
    border-radius:  0 0 30px 30px;
    margin-top: 20px;
}

.message > p {
    padding: 10px;
    width: fit-content;
    margin-bottom: 15px;
    margin-left: 15px;
    border-radius: 10px;
    font-size: 14px;
}

.message .chat-left {
    color: var(--Moderate-Violet);
    background: var(--Grayish-Blue);   
}

.message .chat-right {
    color: var(--Desaturated-Dark-Violet);
    background: #fff;
    display: flex;
    margin-left: auto;
    justify-content: flex-end;
    margin-right: 15px;
}

.divide {
    display: flex;
    align-items: center;
}

.dogs {
    display: flex;
    justify-content: flex-end;   
}

.dogs img {
    width: 60px;
    height: 60px;
    border-radius: 12px;
    margin-right: 10px;
    margin-bottom: 15px;
}

.price p {
    width: 70%;
    position: relative;
    padding: 14px;
    
    border-radius: 10px; 
    margin-bottom: 10px;
    margin-left: 10px;

    background: linear-gradient(to right, var(--Light-Magenta), var(--Light-Violet));
    color: #fff;
    color: var(--Light-Grayish-Violet);
}

.price p i {
   margin-right: 5px;  
   color: var(--Light-Grayish-Violet);
   font-size: 16px;
}

.price span {
    right: 15px;
    position: absolute;
    font-weight: bolder;
}


.type {
    display: flex;
    justify-content: space-between;
    margin: 20px 8px 0;
    padding: 6px;
    background-color: #fff;
    border-radius: 100px;   
}

.type p {
    color: var(--Grayish-Blue);
    margin: 7px 0 0 20px;
    
}

.type i {
    background-color: var(--Very-Dark-Desaturated-Violet);
    color: #fff;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}


/*====== text =====*/
.text {
    margin: 0 auto;
    text-align: center;
    max-width: 400px;
}

.text h1 {
    margin: 50px 0;
    font-size: 50px;
    color: var(--Very-Dark-Desaturated-Violet);
}

.text p {
    color: var(--Grayish-Blue);
    line-height: 1.5;
}

.footer {
   
   background-color: #333;
   color: #fff;
   padding: 15px;
    
   
}

@media (min-width:1000px) {
    body::after {
        width: 600px;
        left: -70px;
        height: 90%;  
    }

    .phone {
        margin:  80px 0 0 350px ;
       
    }

    .container {
        display: flex;
        align-items: center;
      
    }

    .text {
        text-align: left;
       margin-left: 5%;
    }
}



