@use 'variables' as *;


.footer {
    position: relative;
    background: var(--footer);
    padding-top: 18rem ;

    .footer-float {
        position: absolute;
        top: -10rem;
        width: 90%;
        left: 50%;
        transform: translateX(-50%);
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        background: var(--color-primary);
        border-radius: .5rem;
        padding: 1.5rem;
        text-align: center;
        
        h2 {
            margin: 1.5rem 0;
        }

        p {
            line-height: 1.5;
            margin-bottom: 1.5rem;
            max-width: 600px;
            margin-inline: auto;  
        }

        input {
            width: 100%;
            max-width: 28.5rem;
            height: 3rem;
            padding: .5rem 2rem;
            border: none;
            border-radius: 5rem;
            margin-bottom: 1.5rem;  

            &:focus {
                outline: inset .2rem var(--gradient-primary);
            }
        }

        button {
            
            width: 100%;
            max-width: 28.5rem;
            height: 3.5rem;
            border-radius: 5rem;
            align-items: center;
            border: none;
            margin-bottom: 1.5rem;
        }
    }

    .footer-info {
        display: grid;
        grid-template-columns: 1fr;

        li {
            list-style: none;
        }

        .logo-footer {
            margin-bottom: 2rem;
        }
    }


    .attribution {
        margin-top: 10rem;
    }
}

.footer-info-grid {
    display: grid;
    gap: 3rem;
    
    
    a {
        color: #fff;
    }

    li {
        margin-bottom: 1.5rem;
        
        &:hover {
            opacity: .7;
        } 
    }

   .footer-contact li  {
        display: flex;
        align-items: flex-start;
        gap: 1rem;
        max-width: 25rem;
   }

   .footer-info-socials {
       justify-self: center;
       flex-direction: column;

       li {
           display: flex;
           align-items: center;
           justify-content: center;
           width: 2.5rem;
           height: 2.5rem;
           font-size: 1.3rem;
           
           border: 2px solid red;
            border-radius: 50%;
       }
   }
}
