@use 'variables';
@use 'mixins' as *;

main {
    @include contain;
    position: relative;

}

.card {
    background: variables.$white;
    text-align: center;
    border-radius: 1rem;
    margin-bottom: 3rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

    img {
        padding: 3.5rem;
    }

    h2 {
        margin: 4rem 0 1rem;
        color: variables.$Very-Dark-Cyan;
    }
    
    p {
        color: variables.$Grayish-Blue;
        line-height: 1.5;
        padding: 0rem 2rem 3rem;
        
    }

    &:last-child {
    margin-bottom: 12rem;
}
}

