
@use 'variables';
@use 'mixins';

footer {
    background: variables.$Very-Dark-Cyan;
    position: relative;
    padding-top: 10rem;

       section {
        position: absolute;
        left: 0;
        right: 0;
        top: -7rem;
        width: 90%;
        max-width: 800px;
        border-radius: 1rem;
        margin-left: auto; 
        margin-right: auto; 
        align-items: center;
        background: variables.$white;
        text-align: center;
        box-shadow: rgba(100, 100, 111, 0.1) 0px 7px 29px 0px;

        h2 {
            margin: 3rem 0 2rem;
            font-size: 20px;
            color: variables.$Very-Dark-Cyan;
        }

        a {
            @include mixins.btn;
            padding: 0.9rem 3rem;
            margin-bottom: 3rem;
            font-size: 1rem;
        } 
    }

    .footer-container {
        @include mixins.contain;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        
    }

    .footer-info {
       
        a {
            display: block;
        }
    }

    a {
        color: variables.$white;
    }

    .contact {
      
        
        a {
            display: block;
        }

        .logo-footer{
        filter: brightness(0) invert(1);
        }
    }
    
}
