@use 'variables';
@use 'mixins' as *;


img {
    max-width: 100%;
}

header {
    background: variables.$Very-Pale-Cyan url(/images/bg-hero-mobile.svg) no-repeat center/ cover;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 1rem 0;
    margin-bottom: 70px;
   

    img {
        width: 125px;
        height: 20px; 
    }
    
    a {
        font-size: 14px;
        background: variables.$white;
        color: variables.$Very-Dark-Cyan;
        font-weight: bold;
        padding: .4rem 1.7rem;
        border-radius: 100px;
        box-shadow: rgba(0, 0, 0, 0.10) 1px 2px 10px;
    }  
}

.container-header {
    text-align: center;
    @include contain;
    margin-bottom: 5rem;

    h1 {
        margin-bottom: 2.5rem;
    }
    p {
        margin-bottom: 2rem;
        line-height: 1.5;
    }
    a {
        display: inline-block;
        background-color: variables.$Pink;
        color: variables.$white;
        padding: .8rem 5rem;
        border-radius: 100px;
        margin-bottom: 2rem;
    }
    img {
        padding: 0 1rem;
        margin-bottom: 3rem;
    }
}



