@use 'variables';
@use 'mixins' as * ;


header {
    background: variables.$Very-Pale-Cyan url(/images/bg-hero-mobile.svg) no-repeat center/ cover;

   
    .header-container {
        @include media-md {
        @include max-width;
        margin: 0 auto;
        }
    
        nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1.5rem 1rem 0;
        margin-bottom: 70px;

            @include media-lg {
                @include contain-resonsive;
            }
        

            img {
                width: 125px;
                height: 20px; 
            }
            
            a {
                font-size: 14px;
                background: variables.$white;
                color: variables.$Very-Dark-Cyan;
                font-weight: bold;
                padding: .4rem 1.7rem;
                border-radius: 100px;
                box-shadow: rgba(0, 0, 0, 0.10) 1px 2px 10px;
            }  
        }
    }     
}




.container-header {
    text-align: center;
    @include contain;
    margin-bottom: 5rem;

    @include media-lg  {
        display: flex;
        justify-content: space-between;
        gap: 4rem;
        text-align: start;
        @include contain-resonsive;
    }

    h1 {
        margin-bottom: 2.5rem;
        color: variables.$Very-Dark-Cyan;

        @include media-lg {
            margin-bottom: 0;
            max-width: 500px;
        }
    }
    p {
        margin-bottom: 2rem;
        line-height: 1.5;
        max-width: 680px;
        margin-left: auto;
        margin-right: auto;
       
    }

    img {
        width: 100%;
        margin-bottom: 3rem;

        @include media-md {
            max-width: 600px;
        } 
    }

    .btn {
        @include btn;
        font-size: 16px;
        padding: .7rem 3rem;
        margin-bottom: 3rem;
    }
}
