
//Primary
$Pink: hsl(322, 100%, 66%);

// Neutral
$Very-Pale-Cyan: hsl(193, 100%, 96%);
$Very-Dark-Cyan: hsl(192, 100%, 9%);
$Grayish-Blue: hsl(208, 11%, 55%);

//Typography

$ff-primary: 'Poppins', sans-serif;
$ff-secondary: 'Open Sans', sans-serif;
$font-size: 18px;

