
@use 'header';
@use 'body';
@use 'footer';
@use 'variables';
@use 'mixins';


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: variables.$ff-primary;
    font-size: 18px;
    
}
