@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Bai Jamjuree', sans-serif;
    margin: 0 auto;
}

:root {
    --trong-Cyan: hsl(171, 66%, 44%);
    --Light-Blue: hsl(233, 100%, 69%);

    --Dark-Grayish-Blue: hsl(210, 10%, 33%);
    --Grayish-Blue: hsl(201, 11%, 66%);
}

#container {
    margin: 0 auto;
    max-width: 1440px;
    padding: 20px;
    
}

.logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: url(images/bg-header-mobile.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 350px;  
   
}

p {
    color: var(--Grayish-Blue);
}

h1,
h2,
h3 {
    color: var(--Dark-Grayish-Blue);
}
   
header h1,
header p {
    max-width: 75%;
    line-height: 1.3;
    text-align: center;
    margin: 0 auto;
}

header h1 {
    margin-top: -90px;  
    color: var(--Dark-Grayish-Blue);
}

header p {
    max-width: 530px;
    color: var(--Grayish-Blue);
    margin-top: 20px;
}


.btn {
    display: block;
    max-width: 400px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    padding: 1.2em 4em;
    border-radius: 100px;
    margin: 30px auto; 
    box-shadow: inset -2px -3px 1px 1px rgba(0, 0, 0, 0.1);
}

.green {
    background-color: var(--trong-Cyan);
    color: #fff;   
}

.blue {
    background-color: var(--Light-Blue);
    color: #fff;  
}

.btn:hover {
    opacity: 0.8;
}

/*============================*/
.img {
    width: 100%;
}

section h2 {
    margin-top: 150px;
    margin-bottom: 10px;
    text-align: center;
}

section > p {
    text-align: center;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10%;
    line-height: 1.5;
}

.section-2 p {
    margin-bottom: 40px;
}

.section-2 h2:nth-of-type(2) {
    margin-top: 15px;
}

.snippets {
    text-align: center;
    margin: 110px 0;  
}

.snippets-style {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
}

.snippets h3 {
    margin: 40px 0 15px;
    font-size: 30px;

}
/*============================*/
.companies {
    display: grid;
    margin: 0 auto;
    place-items: center;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    row-gap: 100px;
}

/*============================*/
footer {
    margin-top: 200px;
    background: #f1f2f3;
    text-align: center;
}

footer img {
    margin-top: 50px;
    margin-bottom: 20px;
    width: 70px;
}

footer a {
    display: block;
    text-decoration: none;
    color: var(--Grayish-Blue);
    margin-top: 20px;
}

footer a:hover {
    color: var(--Dark-Grayish-Blue);
}


footer .socials  img {
    width: 30px;
}


footer .socials  img + img {
    margin-left: 20px;
}




/*============================*/
@media (min-width:1200px) {
    .logo {
        background: url(images/bg-header-desktop.png);
        background-repeat: no-repeat;
        background-size: cover;
    } 
    
    header h1 {
        margin-top: -40px;
        font-size: 40px;
    }

    h2,
    h3 {
        font-size: 29px;
    }

    p {
        font-size: 18px;
    }

    section h2 {
        margin-top: 100px;
    }

    section p {
        margin-bottom: 3%;
    }

    
    .btns {
        display: flex;
        justify-content: center;     
    }

    .btn {
        margin: 40px 20px;
    }

    .snippets {
        display: flex;
        justify-content: center;  
    }

   

    .section-2 .img-trabalho {
        width: 800px;
        margin: 0 auto;
    }

    .snippets-style {
        margin:0;
    }

    .snippets-style p {
        max-width: 550px;
    }

    .snippets-2 h3,
    .snippets-2 p {
        text-align: left;
        max-width: 400px;
        line-height: 1.5;  
    }


    .snippets > img {
        width: 700px;
        margin-right: 100px;
        
    }

    .snippets-style {
        margin-top: 60px;
    }

    .companies {
        margin-top: 90px;
    }

    footer {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top: 20px;
    }

    footer .links  {
        display: flex;
        
    }

    footer .links a + a {
        margin-left: 40px;
    }
}

   
